* {
    box-sizing: border-box;
}
main {
    display: flex;
    justify-content: center;
}

.calculator {
    background-color: rgb(140, 140, 140);
    width:600px;
    margin: 0 5vw;
    padding: 2%;
    height: 80vh;
    border-radius: 3%;
}
.base {
    background-color: rgb(50, 50, 50);
    padding: 5px;
    height: 100%;
    padding: 5%;
    border-radius: 3% 3% 10% 10%;
}

.display {
    border: solid 5px rgba(226, 255, 140, 0.319);
    background-color: rgba(47, 255, 255, 0.586);
    height: 20%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    height: 80%;
    padding: 20px 0;
}

.left {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
    flex-direction: row-reverse;
}
.left button {
 width: 32%;
}

.right {
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.right button {
    width: 48%;
}

button {
    background-color: rgb(24, 24, 24);
    color: rgb(214, 214, 214);
    border-radius: 20px 20px 40px 40px;
}

button[value='delete'],
button[value='clear']{
    background-color: rgb(255, 145, 1);
    color: black
}

.left,
.right{
    gap: 1%;
}